fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg[binary]
python-jose
passlib
bcrypt
python-multipart
python-dotenv
pydantic-settings
aioboto3
stripe
httpx
openai
email-validator
Mako
reportlab
pydantic
pydantic-core
greenlet
asyncpg
botocore
boto3
aiobotocore
weasyprint
pillow
cryptography
jinja2
python-dateutil
six
pyyaml
markupsafe
cffi
pycparser
cachetools
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
urllib3
requests
certifi
charset-normalizer
idna
